language: python
python:
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install -r evalytics/requirements/dev.txt
# command to run tests
script:
  - pytest

after_success:
  - codecov
  - bash <(curl -s https://codecov.io/bash)
