[APP]
name = Evalytics
mail_subject = Evalytics: You can now complete your evaluation assignments!

[GOOGLE]
folder = 2020 Q1 Evals
org_chart = My Employee List
form_map = Form mapping
form_responses_folder = ResponsesTest

[COMPANY]
domain = company.com
number_of_employees = 1000
