---
company:
    domain: "company.com"
    number_of_employees: 1000

providers:
    storage: "google_drive"
    communication_channel: "gmail"
    forms_platform: "google_forms"

gmail_provider:
    mail_subject: "Evalytics: You can now complete your evaluation assignments!"
    reminder_mail_subject: "Reminder Evalytics: 'You have pending evals to complete'"

google_drive_provider:
    folder: "2020 Q1 Evals"
    form_responses_folder: "ResponsesTest"
    org_chart: "My Employee List"
    form_map: "Form mapping"
    eval_report_template_id: "ID_OF_GOOGLE_DOCUMENT"
    eval_report_prefix_name: "Prefix Doc: "
